@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400&display=swap');

:root {
	--main-background: #FBFBFB;
	--nav-color: #8F99A8;
	--brown-color: #8B4513;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', Arial, Helvetica;
}

.navbar {
    position: absolute;
    display: flex;
    margin: 15px;
}

.logo-nome {
    display: flex;
    align-items: center;
}

.logo-container {
    margin-right: 20px; 
}

.logo {
    width: 300px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
    font-weight: 900;
}

.sausage {
    font-size: 70px;
    font-weight: 700;
    color: var(--brown-color);
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 15px;
    margin-left: -40px;
    margin-right: 150px;
}

.nav-itens, .nav-item, .btn-login, .btn-register {
    font-size: 35px;
    list-style: none;
    text-decoration: none;
    display: flex;
    margin-top: 15px;
    color: var(--nav-color);
}

.nav-item, .btn-login, .btn-register {
    margin-left: 80px;
}

.active-item, .nav-item:hover {
    border-bottom: 2px solid white;
    border-image: linear-gradient(to right, #8B4513, #8B4513) 1;
}

.nav-item:hover {
    transition: 150ms linear;
}

.btn-register, .btn-login {
    font-size: 30px;
    color: var(--main-background);
    margin-top: 10px;
    padding: 10px 15px;
    border-radius: 24px;
    background-image: linear-gradient(to bottom, #8B4513, #8B4513);
    border-radius: 80px;
    padding: 10px 35px;
    box-shadow: 4px 5px rgba(255, 255, 255, 0.6);
}

.btn-register:hover, .btn-login:hover {
    background-image: var(--main-background);
    border: 1px solid #8B4513;
    border-radius: 80px;
    color: var(--nav-color);
    transition: 200ms linear;
    box-shadow: 4px 5px #8B4513;
}

.btn-login{
    width: 150px; 
}

.btn-register {
    width: 250px;  
}
 
.btn-register {
    margin-left: 70px;
}

.home-page1 {
    display: flex;
    flex-direction: row;
    border-bottom: 10px solid #8B4513;
    background: url(./assets/fundo.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.dach-homepage {
    margin-top: -40px; 
    margin-left: -700px; 
    width: 3000px; 
    height: 1200px; 
}

.titulo-homepage {
    margin-top: 350px;
    margin-left: -700px;
    font-size: 150px;
    font-weight: 7500;
}

.btns-homepage {
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    margin-left: -750px;
}

.btn-saiba-mais {
    margin-left: 50px;
    padding: 5px 25;    
    border-radius: 80px;
    width: 450px;
    height: 110px;
    background-image: linear-gradient(to bottom, #8B4513, #8B4513);
    border: none;
    color: #fff;
    font-size: 50px;
    font-weight: 700;
    cursor: pointer;
    transition: 100ms ease-in;
}

.btn-saiba-mais:hover {
    box-shadow: 4px 5px rgba(0, 0, 0, 0.2);
}

.fim-homepage {
    display: flex;
    flex-direction: row;
}

.fim-homepage-img {   
    margin: auto;
    margin-top: -35px;
    height: 60px;
    width: 60px;
    padding: 10px;
    border-radius: 30px;
    background-color: #8B4513;
}

.border, .sobre-page2 {
    border: 5px solid transparent;
    border-image: linear-gradient(to right, #8B4513, #8B4513) 1;
    border-image-slice: 1;
    margin: 30px;
    padding: 50px;
    display: flex;
    height: 100%;       
}

.dachs2 {
    padding: 0;
    width: 550px;
    margin-top: -30px;
    margin-right: -50px;
    margin-bottom: -50px;
}

.about-us-title {
    font-size: 110px;
    font-weight: 700;
}

.about-us-info {
    color: var(--nav-color);
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 50px;
}

.footer{
    background: linear-gradient(to right, #eac971, #eac971);  
    display: flex;
}

.footer-list {
    display: flex;
}

.ul-footer{
    padding: 80px;
    margin-right: 700px;
    color: #fff;
}

.ul-footer > h3 {
    text-align: center;
    font-size: 50px;
}

.ul-footer > li{
    text-align: center; 
    list-style: none;
}

.ul-footer > li > a{
    text-decoration: none;
    color: #fff;
    font-size: 30px;
}

.ul-footer > li > a:hover {
    color: var(--brown-color);
}

.sausage-footer{
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    vertical-align: middle;
    margin-top: 20px;
    margin-left: -60px;
    margin-right: 160px;  
}

.logo-footer{
    width: 400px;
    display: inline-block;
    vertical-align: middle;
    margin-top: 10px;
    margin-left: 30px;
    color: #fff;
}

@media (min-width: 320px) and (max-width: 600px) {
    .home-page1 {
        background-size: auto;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-right: 5rem;
    }
    
    .sausage {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .btn-register {
        display: none;
    }

    .dach-homepage {
        margin: 10rem 0 0 0;
        width: 30rem;
        height: 30rem;
    }

    .titulo-homepage {
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }

    .btns-homepage {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .btn-saiba-mais {
        margin: 0 0 3rem 0;
    }

    .about-us-title {
        font-size: 3.5rem;
    }

    .about-us-info {
        font-size: 1.4rem;
    }

    .dachs2 {
        display: none;
    }

    .border {
        padding: 2rem;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .footer {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .sausage-footer {
        margin: 0;
    }

    .footer-list {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .ul-footer {
        margin: 0;
    }

    .sobre-page1 {
        background-size: cover;
    }

    .sobre-page1 h1 {
        font-size: 4rem;
        margin: 40% 1.5rem;
    }

    .contato h1 {
        font-size: 2rem;
    }
}

@media (min-width: 60rem) and (max-width: 76.8rem) {
    .home-page1 {
        background-size: auto;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-right: 5rem;
    }
    
    .sausage {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .btn-register {
        display: none;
    }

    .dach-homepage {
        margin: 10rem 0 0 0;
        width: 30rem;
        height: 30rem;
    }

    .titulo-homepage {
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }

    .btns-homepage {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .btn-saiba-mais {
        margin: 0 0 3rem 0;
    }

    .about-us-title {
        font-size: 3.5rem;
    }

    .about-us-info {
        font-size: 1.4rem;
    }

    .dachs2 {
        display: none;
    }

    .border {
        padding: 2rem;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .footer {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .sausage-footer {
        margin: 0;
    }

    .footer-list {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .ul-footer {
        margin: 0;
    }

    .sobre-page1 {
        background-size: cover;
    }

    .sobre-page1 h1 {
        font-size: 4rem;
        margin: 40% 1.5rem;
    }

    .contato h1 {
        font-size: 2rem;
    }
}


@media (min-width: 76.8rem) and (max-width: 102.4rem) {
    .home-page1 {
        background-size: auto;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-right: 5rem;
    }
    
    .sausage {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .btn-register {
        display: none;
    }

    .dach-homepage {
        margin: 10rem 0 0 0;
        width: 30rem;
        height: 30rem;
    }

    .titulo-homepage {
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }

    .btns-homepage {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .btn-saiba-mais {
        margin: 0 0 3rem 0;
    }

    .about-us-title {
        font-size: 3.5rem;
    }

    .about-us-info {
        font-size: 1.4rem;
    }

    .dachs2 {
        display: none;
    }

    .border {
        padding: 2rem;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .footer {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .sausage-footer {
        margin: 0;
    }

    .footer-list {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .ul-footer {
        margin: 0;
    }

    .sobre-page1 {
        background-size: cover;
    }

    .sobre-page1 h1 {
        font-size: 4rem;
        margin: 40% 1.5rem;
    }

    .contato h1 {
        font-size: 2rem;
    }
}

@media (min-width: 102.4rem) and (max-width: 120rem) {
    .home-page1 {
        background-size: auto;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .logo {
        margin-right: 5rem;
    }
    
    .sausage {
        display: none;
    }

    .nav-item {
        display: none;
    }

    .btn-register {
        display: none;
    }

    .dach-homepage {
        margin: 10rem 0 0 0;
        width: 30rem;
        height: 30rem;
    }

    .titulo-homepage {
        margin: 0;
        font-size: 3rem;
        text-align: center;
    }

    .btns-homepage {
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .btn-saiba-mais {
        margin: 0 0 3rem 0;
    }

    .about-us-title {
        font-size: 3.5rem;
    }

    .about-us-info {
        font-size: 1.4rem;
    }

    .dachs2 {
        display: none;
    }

    .border {
        padding: 2rem;
    }

    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem;
    }

    .footer {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .sausage-footer {
        margin: 0;
    }

    .footer-list {
        flex-direction: column;
        margin: 0;
        align-content: center;
        justify-content: center;
        align-items: center;
    }

    .ul-footer {
        margin: 0;
    }

    .sobre-page1 {
        background-size: cover;
    }

    .sobre-page1 h1 {
        font-size: 4rem;
        margin: 40% 1.5rem;
    }

    .contato h1 {
        font-size: 2rem;
    }
}
